<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Weather Web App</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>What's the weather today?</h2>
	<form action="#" th:action="@{/weather}" method="get">
		<p>
			<select name="location" onchange="this.form.submit()">
				<option th:each="location : ${locations}" th:text="${location}"
					th:selected="${city} == ${location}" />
			</select>
		</p>
	</form>
	<div th:if="${weather} != null">
		<table border="1">
			<tr>
				<td><p>City:</p></td>
				<td><p th:text="${city}" /></td>
			</tr>
			<tr>
				<td><p>Updated Time:</p></td>
				<td><p th:text="${weather.time}" /></td>
			</tr>
			<tr>
				<td><p>Weather: </p></td>
				<td><p th:text="${weather.weatherDesc}" /></td>
			</tr>
			<tr>
				<td><p>Temperature: </p></td>
				<td><p th:text="${weather.temperature}" /></td>
			</tr>
			<tr>
				<td><p>Wind: </p></td>
				<td><p th:text="${weather.wind}" /></td>
			</tr>
			<!--p th:text="'Updated Time: ' + ${weather.time}" />
			<p th:text="'Weather: ' + ${weather.weatherDesc}" />
			<p th:text="'Temperature: ' + ${weather.temperature}" />
			<p th:text="'Wind: ' + ${weather.wind}" /-->
		</table>
	</div>
</body>
</html>